.share {
	height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 0.5fr 90px;
  grid-template-areas: ". . ." ". shareText ." ". key ." ". qrCode ." ". button ." ". . .";
}

.button {
	grid-area: button;
	height: 100%;
	width: 100%;
	background-color: pink;
}

.qrCode {
	grid-area: qrCode;
	height: 100%;
	width: 100%;
	background-color: pink;
}

.key {
	grid-area: key;
	height: 100%;
	width: 100%;
	background-color: pink;
}

.shareText {
	grid-area: shareText;
	height: 100%;
	width: 100%;
	background-color: pink;
}
