.loading {
	height: 100%;
	display: grid;
  grid-template-rows: 50px 1fr 3fr 0.5fr 1fr 90px;
  grid-template-columns: 2fr 0.5fr 1fr 1fr 1fr 0.5fr 2fr;
  grid-template-areas: ". . . . . . ." "loadingText loadingText loadingText loadingText loadingText loadingText loadingText" ". . illustration illustration illustration . ." ". . . . . . ." "stopVoting stopVoting stopVoting stopVoting stopVoting stopVoting stopVoting" ". . . . . . .";
  justify-items: center;
}

.loadingText{
  grid-area: loadingText;
  text-align: center;
  align-self: center;
  font-size: 40px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--blue);
}

.buttonShowResults{
  grid-area: create;
}

.illustration{
  grid-area: illustration;
  width: 100%;
  height: 100%;
  /* background-color: var(--blue); */
  background-image: url('../assets/qmark.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.buttonShowResults{
  grid-area: stopVoting;
}
