.app {
  background-color: #FDEEB7;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
  grid-template-areas: "header" "content";
  font-family: 'Red Hat Display', sans-serif;
  color: #0143E5;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.logo{
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
